body {background-image: url("c12.png");
      background-repeat: no-repeat;
      background-size: cover;
}

@font-face{ font-family: "BebasNeue-Regular";
            src: url("BebasNeue-Regular.ttf");}

 #display{
   border-style: outset;
   border-color: black;
   text-align: center;
   background-color: #d2e3c8;
   opacity: 0.8;
   margin-left: 190px;
   margin-right: 190px;
   font-size: 50px;

 }
 .calculadora{
   text-align: center;
   padding-bottom: 20px;
   padding-top: 20px;
 }

 .botones{
   border: ridge;
   border-color: black;
   background-color: #d2e3c8;
   opacity: 0.7;
   margin-left: 190px;
   margin-right: 190px;
   padding: 20px;
 }

.cdigito{
  border: 3px groove ;
  background-color: black;
  border-radius: 2px;
  border: 2px;
  color:  white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 50px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

.operador{
  border: 3px groove ;
  background-color: black;
  border-radius: 2px;
  border: 2px;
  color:  white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 50px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
}
