body {background-image: url("c12.png");
      background-repeat: no-repeat;
      background-size: cover;
}

@font-face{ font-family: "BebasNeue-Regular";
            src: url("BebasNeue-Regular.ttf");}

 #display{
   border-style: outset;
   border-color: black;
   text-align: center;
   background-color: #d2e3c8;
   opacity: 0.7;
   margin-left: 190px;
   margin-right: 190px;
   font-size: 50px;

 }

 #display:hover {
  border-color: white;
  background-color: #480925;
  color: white;
}

 .calculadora{
   text-align: center;
   padding-bottom: 20px;
   padding-top: 20px;
 }

/*Para el fondo de los botones */
 .botones{
   border: ridge;
   border-color: black;
   background-color: #d2e3c8;
   opacity: 0.7;
   margin-left: 190px;
   margin-right: 190px;
   padding: 20px;
 }

/*Asi mejor que poner todas las clases, más claro de entender */ 
button{
  border: 3px groove ;
  background-color: black;
  border-radius: 2px;
  border: 2px;
  color:  white;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 50px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
}
button:hover{
 color: white;
 background-color: #480925;
}
