
@font-face{ font-family: "BebasNeue-Regular";
          src: url("BebasNeue-Regular.ttf");}

@font-face{ font-family: "BebasNeue-Light";
            src: url("BebasNeue-Light.ttf");}

@font-face{ font-family: "BebasNeue-Book";
            src: url("BebasNeue-Book.ttf");}

body {background-image: url("casapap.png");
      background-size: cover;
    }

.imagen {float: right;
        margin-right: 50px;
}
a{color: white;
  font-family: "BebasNeue-Light";
  font-weight: bold;}

h1 { background-color: #f5e9e9;
    opacity: 0.6;
    margin-left: center;
    margin-right: center;
    color: #000000;
    font-family: "BebasNeue-Regular";
    font-size: 40px;
    text-align: center;
    font-weight: lighter;}

h2 {
    background-color: #f5e9e9;
    opacity: 0.6;
    margin-left: 200px;
    margin-right: 300px;
    color: red;
    font-family: "BebasNeue-Book";
    text-align: center;
    }



p, ul { border: 2px solid red;
    padding: 20px;
    margin-right: 200px;
    margin-left: 20px;
    color: black;
    font-family: "BebasNeue-Light";
    font-weight: bold;
    }
