
h1, h2  {font-family: arial;}

body {background-image: url("25.jpg");
      background-position: 0px;
      background-repeat: repeat-x;
      background-size: 500px;
    }
h2 { border: 2px solid red;
    padding: 10px;
    margin: 10px;
    color: black;}

p { border: 6px solid black;
    padding: 20px;
    margin: 20px;
    color: red;
    }
