body {background-image: url("o.jpg");
}
@font-face{ font-family: "BebasNeue-Regular";
          src: url("BebasNeue-Regular.ttf");}

@font-face{ font-family: "BebasNeue-Book";
            src: url("BebasNeue-Book.ttf");}
h1{
  text-align: center;
  font-family: "BebasNeue-Regular";
  font-size: 40px;

}
.imagenes{
  column-count: 2;
  text-align: center;
}
.texto,h2{
  font-family: "BebasNeue-Regular";
  font-size: 30px;
  column-count: 2;
  margin-top: 0px;
  text-align: center;
  margin-left: 100px;
}

.controles,.deslizadores{
  text-align: center;


}

button{
  margin-left: 50px;
  margin-right: 50px;
  border-style: outset;
  border-color: black;
  background-color: #f7f3f0;
  padding: 5px;
  margin-bottom:20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:30px;
  font-family: "BebasNeue-Book";

  line-height:32px;
}
button:hover{
  color:#d2e3c8;
  background-color:#DA1D23;
}
