body {background-image: url("o.jpg");
}

h1{
  text-align: center;
  font-family: "Segoe UI";

}
.imagenes{
  column-count: 2;
  text-align: center;
}
.texto,h2{
  font-family: "Segoe UI";

  column-count: 2;
  margin-top: 0px;
  text-align: center;
  margin-left: 100px;
}

.controles,.deslizadores{
  text-align: center;

}

button{
  margin-left: 50px;
  margin-right: 50px;
  border-style: outset;
  border-color: black;
  background-color: #f7f3f0;
  padding: 5px;
  margin-bottom:20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:25px;
  line-height:32px;
}
button:hover{
  color:#d2e3c8;
  background-color:#DA1D23;
}
