/* Fondo de la página */
body {
    background-image: url("dd.png");
    /*background-color: #21E69B;*/
}

/* Estilo para el canvas*/
#canvas {
  background-color: #272B32;
  /*14171D  #272B32*/
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 750px;
}
h1{
  text-align: center;
  border-style: solid;
  border-color: #d2e3c8;
  background-color: #d2e3c8;
  opacity: 0.7;
  margin-left: 400px;
  margin-right: 400px;
  font-size: 40px;
}

h1:hover{
  background-color:#DA1D23;
}

p{
  text-align: center;
  border-style: solid;
  border-color: #d2e3c8;
  background-color: #d2e3c8;
  opacity: 0.7;
  margin-left: 350px;
  margin-right: 350px;
  font-size: 17px;

}

button{
  margin-left: 400px;
  border: ridge;
  border-color: #DA1D23;
  background-color: #d2e3c8;
  padding: 5px;
}

button:hover{
  color:#d2e3c8;
  background-color:red ;
}
