body{
  /*relleno, por defecto se aplica por igual en toda la caja */
  padding: 10px;
  /* borde, por defecto esta deshabilitado*/
  border: solid;
  border-color: red;
  margin: 10px;
}

p{
  padding: 10px;
  border: solid;
  border-color: blue;
  margin: 5px;
}
