body {
    background-color: #899082;
}

.videos{
  margin-left: 60px;
  margin-right: 60px;

}
#parte1,#parte2,#parte3{
  margin:auto;
  padding-left: 50px;
  padding-right: 50px;
  float: left; /*Posicionamiento flotante */
}
#parte4{
  padding-left: 450px;
  padding-right: 450px;


}

.videoprincipal{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 820px;
  height: 500px;
}

#video4{
  margin-bottom: 20px;
  margin-top: 10px;
  float: left;
}
button{
  margin-left: 50px;
  margin-right: 50px;
  border-style: outset;
  border-color: black;
  background-color: #d2e3c8;
  padding: 5px;
  font-size: 20px;
  margin-bottom:20px;
}
button:hover{
  color:#d2e3c8;
  background-color:#DA1D23;
}

p{
  text-align: center;
  font-family: "Segoe UI";
  font-weight: bold;
  margin-top: 30px;
  margin-left: 350px;
  margin-right: 350px;
  font-size: 22px;
}
